html,
body {
    height: 100%;
    margin: 0;
}

header {
    height: 50px;
}

footer {
    height: 50px;
}

/* Trick */
body {
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
    background-color: #919191;
}

#navbar {
    display: inline;
    padding: auto;
    margin: 0
}
li{
    list-style-type: none;
}