header{
    background-image: "./src/bass.jpg";   
}
.navbar{
    background-color: rgba(128, 128, 128, 0.151);
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
  }

  .foot-icon{
      padding: 5px;
  }